body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.recipe-heading {
    font-size: 32px;
    font-weight: bold;
    margin: 15px auto 10px;
    text-align: center;
    background-color: #FFF5E1;
}

.recipe-image-container {
    text-align: center;
    margin: 20px auto;
    width: 400px;
    display: block;
}

.recipe-image {
    width: 100%;
    display: block;    
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.recipe-description {
    margin: 20px 15px;
    color: #333;
}

.recipe-ingredients {
    margin: 20px 15px;
    color: #333;
}

.recipe-steps {
    margin: 20px 15px;
    color: #333;
}

p, li {
    font-size: 18px;
    line-height: 1.6;
}